{{#each hits}}
  <div class='photo-card'>
    <div class='owerlay'>
      <a data-fancybox='gallery' href='{{this.largeImageURL}}'>
        <img
          class='gallery-img'
          src='{{this.webformatURL}}'
          alt='{{this.tags}}'
          loading='lazy'
          width='250'
        />
      </a>
    </div>
    <div class='info'>
      <p class='info-item'>
        <b>Likes</b>
        {{this.likes}}
      </p>
      <p class='info-item'>
        <b>Views</b>
        {{this.views}}
      </p>
      <p class='info-item'>
        <b>Comments</b>
        {{this.comments}}
      </p>
      <p class='info-item'>
        <b>Downloads</b>
        {{this.downloads}}
      </p>
    </div>
  </div>
{{/each}}